-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'STAFF', 'SUPPORT');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PAID', 'FAILED', 'REFUNDED', 'PARTIALLY_REFUNDED');

-- CreateEnum
CREATE TYPE "FulfillmentStatus" AS ENUM ('NEW', 'PROCESSING', 'SHIPPED', 'DONE', 'CANCELED');

-- CreateEnum
CREATE TYPE "EventType" AS ENUM ('STRIPE_WEBHOOK', 'RESEND_SEND', 'STATUS_CHANGE', 'NOTE_ADDED', 'ERROR');

-- CreateEnum
CREATE TYPE "TicketType" AS ENUM ('COMPLAINT', 'RETURN', 'QUESTION', 'OTHER');

-- CreateEnum
CREATE TYPE "TicketStatus" AS ENUM ('OPEN', 'IN_PROGRESS', 'WAITING_CUSTOMER', 'RESOLVED', 'CLOSED');

-- CreateEnum
CREATE TYPE "TicketPriority" AS ENUM ('LOW', 'NORMAL', 'HIGH', 'URGENT');

-- CreateEnum
CREATE TYPE "RefundStatus" AS ENUM ('REQUESTED', 'SUBMITTED', 'SUCCEEDED', 'FAILED');

-- CreateTable
CREATE TABLE "admin_users" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "passwordHash" TEXT NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'SUPPORT',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_customers" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "name" TEXT,
    "phone" TEXT,
    "locale" TEXT DEFAULT 'de',
    "lastOrderAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_customers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_orders" (
    "id" TEXT NOT NULL,
    "stripe_checkout_session_id" TEXT NOT NULL,
    "stripe_payment_intent_id" TEXT,
    "status_payment" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "status_fulfillment" "FulfillmentStatus" NOT NULL DEFAULT 'NEW',
    "currency" TEXT NOT NULL DEFAULT 'EUR',
    "amount_total" INTEGER NOT NULL,
    "amount_shipping" INTEGER NOT NULL DEFAULT 0,
    "amount_tax" INTEGER NOT NULL DEFAULT 0,
    "shipping_name" TEXT,
    "shipping_address" JSONB,
    "billing_address" JSONB,
    "email" TEXT NOT NULL,
    "customer_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "paid_at" TIMESTAMP(3),
    "shipped_at" TIMESTAMP(3),
    "notes" TEXT,

    CONSTRAINT "admin_orders_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_order_items" (
    "id" TEXT NOT NULL,
    "order_id" TEXT NOT NULL,
    "sku" TEXT,
    "name" TEXT NOT NULL,
    "variant" TEXT,
    "qty" INTEGER NOT NULL,
    "unit_price" INTEGER NOT NULL,
    "total_price" INTEGER NOT NULL,

    CONSTRAINT "admin_order_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_order_events" (
    "id" TEXT NOT NULL,
    "order_id" TEXT,
    "type" "EventType" NOT NULL,
    "source" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_order_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_tickets" (
    "id" TEXT NOT NULL,
    "order_id" TEXT,
    "customer_id" TEXT NOT NULL,
    "type" "TicketType" NOT NULL DEFAULT 'QUESTION',
    "status" "TicketStatus" NOT NULL DEFAULT 'OPEN',
    "priority" "TicketPriority" NOT NULL DEFAULT 'NORMAL',
    "subject" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_tickets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_ticket_messages" (
    "id" TEXT NOT NULL,
    "ticket_id" TEXT NOT NULL,
    "author_user_id" TEXT,
    "author_customer_email" TEXT,
    "body" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "admin_ticket_messages_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "admin_refunds" (
    "id" TEXT NOT NULL,
    "order_id" TEXT NOT NULL,
    "stripe_refund_id" TEXT,
    "amount" INTEGER NOT NULL,
    "reason" TEXT,
    "status" "RefundStatus" NOT NULL DEFAULT 'REQUESTED',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "admin_refunds_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "admin_users_email_key" ON "admin_users"("email");

-- CreateIndex
CREATE UNIQUE INDEX "admin_customers_email_key" ON "admin_customers"("email");

-- CreateIndex
CREATE UNIQUE INDEX "admin_orders_stripe_checkout_session_id_key" ON "admin_orders"("stripe_checkout_session_id");

-- CreateIndex
CREATE UNIQUE INDEX "admin_orders_stripe_payment_intent_id_key" ON "admin_orders"("stripe_payment_intent_id");

-- CreateIndex
CREATE INDEX "admin_orders_customer_id_idx" ON "admin_orders"("customer_id");

-- CreateIndex
CREATE INDEX "admin_orders_status_payment_idx" ON "admin_orders"("status_payment");

-- CreateIndex
CREATE INDEX "admin_orders_status_fulfillment_idx" ON "admin_orders"("status_fulfillment");

-- CreateIndex
CREATE INDEX "admin_orders_created_at_idx" ON "admin_orders"("created_at");

-- CreateIndex
CREATE INDEX "admin_order_items_order_id_idx" ON "admin_order_items"("order_id");

-- CreateIndex
CREATE INDEX "admin_order_events_order_id_idx" ON "admin_order_events"("order_id");

-- CreateIndex
CREATE INDEX "admin_order_events_type_idx" ON "admin_order_events"("type");

-- CreateIndex
CREATE INDEX "admin_order_events_created_at_idx" ON "admin_order_events"("created_at");

-- CreateIndex
CREATE INDEX "admin_tickets_customer_id_idx" ON "admin_tickets"("customer_id");

-- CreateIndex
CREATE INDEX "admin_tickets_order_id_idx" ON "admin_tickets"("order_id");

-- CreateIndex
CREATE INDEX "admin_tickets_status_idx" ON "admin_tickets"("status");

-- CreateIndex
CREATE INDEX "admin_tickets_priority_idx" ON "admin_tickets"("priority");

-- CreateIndex
CREATE INDEX "admin_ticket_messages_ticket_id_idx" ON "admin_ticket_messages"("ticket_id");

-- CreateIndex
CREATE UNIQUE INDEX "admin_refunds_stripe_refund_id_key" ON "admin_refunds"("stripe_refund_id");

-- CreateIndex
CREATE INDEX "admin_refunds_order_id_idx" ON "admin_refunds"("order_id");

-- CreateIndex
CREATE INDEX "admin_refunds_status_idx" ON "admin_refunds"("status");

-- AddForeignKey
ALTER TABLE "admin_orders" ADD CONSTRAINT "admin_orders_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "admin_customers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_order_items" ADD CONSTRAINT "admin_order_items_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "admin_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_order_events" ADD CONSTRAINT "admin_order_events_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "admin_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_tickets" ADD CONSTRAINT "admin_tickets_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "admin_orders"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_tickets" ADD CONSTRAINT "admin_tickets_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "admin_customers"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_ticket_messages" ADD CONSTRAINT "admin_ticket_messages_ticket_id_fkey" FOREIGN KEY ("ticket_id") REFERENCES "admin_tickets"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_ticket_messages" ADD CONSTRAINT "admin_ticket_messages_author_user_id_fkey" FOREIGN KEY ("author_user_id") REFERENCES "admin_users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "admin_refunds" ADD CONSTRAINT "admin_refunds_order_id_fkey" FOREIGN KEY ("order_id") REFERENCES "admin_orders"("id") ON DELETE CASCADE ON UPDATE CASCADE;

